/*Css Sheet for the main page of the Portfolio*/
body{
	margin:0;
	background-color:#158C76;
}
.Sinistra{
	margin-left: 30px;
	text-align: left;
}
.Centro{
	text-align: center;
}
.Destra{
	margin-right: 30px;
	text-align: right;
}
a{
	color:white;
}
img{
	max-height: 500px;
	max-width: 500px;
}

header h1{
	color:white;
	padding-top:10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 80px;
	font-family: 'Fjalla One',sans-serif;
}
header h2{
	color:white;
	font-family: 'Hind',sans-serif;
	font-size: 30px;
	text-align: center;
	padding-top: 10px;
}
header p{
	font-family: 'Fjalla One',sans-serif;
	font-size: 20px;
	text-align: center;
	color: lightgray;
}
main a:hover{
	color:black;
}
main{
	margin:0 auto;
	background-color: #E4B982;
	color: white;
	font-size: 20px;
	font-family: 'Hind',sans-serif;
}
main img{
	max-width: 100%;
}
footer{
	margin:0 auto;
	opacity: .5;
	text-align: center;
    padding: 50px;
	background-color: white;
}
footer p{
	line-height: 10px;
	color: grey;
}